@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #f5a30a;
    --sec-color: #FFF;
    --third-color: #f1f1f1;
    --forth-color: #272727;
    --fifth-color: #707070;
    --sixth-color: #ffe047;
    --transition1: 0.3s all;
    --transition2: 0.5s all;
    --font-size1: 30px;
    --font-size2: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size2);
    font-family: 'Poppins', 'Calibri', 'Trebuchet MS', 'sans-serif';
    scroll-behavior: smooth;
}

body, html {
    width: 100%;
    min-height: 1000px;
    scroll-behavior: smooth;
}


/* header ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>header*/
header {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    position: sticky;
    top: 0%;
    /* temprory margin because of margin bug in vs*/
    margin-top:-5%;
    z-index: 5;
    align-content: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

    header nav {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.top-nav {
    display: flex;
    list-style: none;
    /* margin-left: -60%; */
    color: var(--sec-color);
    margin-bottom: 0;
}

/*currnet page*/
.top-nav li {
    margin-left: 30px;
}

.top-nav li a {
    color: var(--sec-color);
}

.top-nav li:nth-child(2) a {
    color: var(--main-color);
}

.current-page {
    width: 65px;
    height: 200px;
    background-color: var(--sec-color);
    display: inline-block;
    position: absolute;
    margin-left: 24px;
    margin-top: -160px;
    border-radius: 5px;
    z-index: -1;
}

/* temporary cursor (develpoment)*/
header li {
    cursor: pointer;
}

header a,
header a:visited,
header a:active {
    text-decoration: none;
    color: var(--sec-color);
}

/* menu bar */
#menu-bar i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--third-color);
    border: .1rem solid var(--third-color);
    border-radius: .3rem;
    padding: .4rem 0.75rem;
    display: none;
}

@media(max-width:768px) {

    .current-page {
        display: none !important;
    }

    #menu-bar i {
        display: initial;
    }

    .top-nav {
        position: absolute;
        top: 100%;
        left: 50%;
        display: block;
        color: var(--third-color);
        width: 50%;
        background: var(--fifth-color);
        border-top: .1rem solid rgba(0,0,0,.1);
        border-radius: 0 0 0 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: var(--transition1);
        opacity: 0.9;
        padding: 1rem;
    }

    .top-nav li {
        margin-top: 0.4rem;
        margin-left: 15%;
    }
    /*----------------- imp------------- */
    .top-nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header nav {
        justify-content: end;
    }

    .top-nav li:nth-child(1):before {
        display: none;
    }
}
/* items bar */
.items-section {
    background-color: var(--sec-color);
    padding:0.2rem
}

.items-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items-bar p {
    color: var(--main-color);
    font-size: var(--font-size1);
    margin: 0;
}

.search-bar {
    width: auto;
}

.search-bar input {
    width: 50vw;
    height: 40px;
    background-color: var(--third-color);
    border: 0;
    padding: 15px;
    border-radius: 5px;
}

.Search-icon {
    width: 70px;
    height: 42px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: -68px;
    border-radius: 0 5px 5px 0;
}

.Search-icon i {
    font-size: var(--font-size1);
    color: var(--sec-color);
}

.cart-icon {
    width: 50px;
    height: 45px;
    background-color: var(--main-color);
    position: relative;
    border-radius: 5px;
}

.cart-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size1);
    color: var(--sec-color);
}

/* back to top icon */
.back-top {
    position: fixed;
    display: flex;
    bottom: 4%;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 5;
    cursor: pointer;
    justify-content: center;
    opacity: 0;
    transition: 0.2s all;
    /* align-items: center; */
}

.back-top i {
    font-size: 40px;
    color: var(--sec-color)
}


/* carousel-slider ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>carousel-slider*/
.landing {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.carousel-sections {
    position: relative;
    transition: all 1s;
}

.carousel-item img {
    height: 100vh;
    min-width: 100vw;
}

.carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    background-color: var(--main-color) !important;
    margin-left: 2% !important;

}
.overlay{
    background-color: rgba(42, 42, 42, 0.50) !important;
    position: absolute ;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    top: 0;
}

#imgs button {
    z-index: 2;
    transition: all 1s;
}

.carousel-caption {
    z-index: 2;
    transition: all 1s;
    animation: change-color 3s infinite alternate linear ;
}

.carousel-caption:hover {
    color: var(--main-color) !important;
}

@keyframes change-color {
    0% {
        color: var(--main-color);
        opacity: 0.4;
    }
    100% {
        color: var(--third-color);
        opacity: 1;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50% !important;
    width: 70px !important;
    height: 70px !important;
    margin: 2% 5%;
}

/* shop-content ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>shop-content*/
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 10px;
    padding-top: 0px
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1.5rem;
}

.product-box{
    position: relative;
    min-width: 200px;
    transition: var(--transition2);
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--forth-color);
    transition: var(--transition2);
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    transition: var(--transition2);
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 500;
}
.add-cart{
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--forth-color);
    color: var(--sec-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background: var(--main-color);
    transition: var(--transition2);
}

/* offer ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>offer*/
.offer {
    width: 100%;
    max-height: 50vh;
    border: solid var(--fifth-color) 3px;
    margin: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0.5rem
    /* align-items: center; */
}

.sec1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.discount{
    position: absolute;
    align-self: flex-end;
    width: 120px;
    height: 120px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 10px;
}

.discount h5 {
    margin: 0;
    text-decoration: line-through;
    color: var(--forth-color)
}

.discount p{
    margin: 0;
    color: var(--sec-color);
    font-size: var(--font-size1);
}

.sec1 img{
    width: 20vw;
}

.sec2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sec2 h1{
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.sec2 h3{
    margin-bottom: 1rem;
}

.sec2 p{
    margin-bottom: 1rem;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.timer div {
    width: 75px;
    height: 75px;
    background-color: var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
}

.timer div h2,
.timer div p{
    color: var(--sec-color);
    margin: 0 ;
    padding: 0 ;
}

/* Join-us ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Join-us*/
.Join-us {
    width: 100%;
    max-height: 30vh;
    background: url("assets/imgs/carts/10.jpg") top center;
    background-size: cover;
    background-color: var(--fifth-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}
.Join-us input{
    width: 30vw;
}
.Join-us button {
    margin-left: -68px !important;
    border-radius: 0 5px 5px 0 !important;
    height: 44px !important;

}

/* adv-section ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>adv-section*/
.adv-section{
    width: 100%;
    height: 10vh;
    background: var(--sec-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.advantage{
    padding: 5px;
    width: 250px;
    height: auto;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    color: var(--third-color);
}

.advantage h5,
.advantage p{
    margin: 0;
}

/* footer ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>footer*/
#footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--sec-color);
    height: 5vh;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--forth-color);
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--main-color);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--main-color);
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
}

#footer .credits a {
    color: var(--main-color);
    transition: 0.3s;
    text-decoration: none;
}

#footer .credits a:hover {
    color: var(--sixth-color);
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: var(--sixth-color);
    color: #fff;
    text-decoration: none;
}